<h1>Listing poems</h1>
<%= link_to "New poem", new_poem_path %>
<table>
  <tr>
	  <th>Title</th>
  </tr>
 
  <% @poems.each do |poem| %>
    <tr>
	    <td><%= poem.title %> </td>
	    <td><%= link_to 'View', poem_path(poem) %></td>
	    <td><%= link_to 'PDF', poem_path(poem) + ".pdf" %></td>
	    <td><%= link_to 'Edit', edit_poem_path(poem) %></td>
    </tr>
  <% end %>
</table>
